set(autostart false)

map()
    kv(alexaclientconfig ${PLUGIN_AVS_DEFAULT_ALEXA_CLIENT_CONFIG})
    kv(smartscreenconfig ${PLUGIN_AVS_DEFAULT_SMART_SCREEN_CONFIG})
    kv(loglevel ${PLUGIN_AVS_DEFAULT_LOG_LEVEL})
    kv(audiosource ${PLUGIN_AVS_DEFAULT_AUDIOSOURCE})
    kv(enablesmartscreen ${PLUGIN_AVS_ENABLE_SMART_SCREEN})
end()
ans(configuration)
